---
layout: default
---

{% assign arts    = site.static_files | where: 'is_art', true %}
{% assign mod_art = arts | size | modulo: 4 %}

{% if mod_art == 0 %}
	{% assign row_art = arts | size | divided_by: 4 | floor | minus: 1 %}
{% else %}
	{% assign row_art = arts | size | divided_by: 4 | floor %}
{% endif %}

{% for y in (0 .. row_art) %}
	<div class="row hcenter">
		{% for x in (0 .. 3) %}
		
			{% assign key = y | times: 4 | plus: x %}

			{% if arts[key] %}
				{% capture card_img_src %} {{ arts[key].path | prepend: site.baseurl }} {% endcapture %}
				{% include card.html %}
			{% else %}
				{% include card_empty.html %}
				<!-- {% include card_video.html %} -->
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}


{% assign videos    = site.static_files | where: 'is_video', true %}
{% assign mod_video = videos | size | modulo: 4 %}

{% if mod_video == 0 %}
	{% assign row_video = videos | size | divided_by: 4 | floor | minus: 1 %}
{% else %}
	{% assign row_video = videos | size | divided_by: 4 | floor %}
{% endif %}


{% for y in (0 .. row_video) %}
	<div class="row hcenter">
		{% for x in (0 .. 3) %}
			{% assign key = y | times: 4 | plus: x %}

			{% if videos[key] %}
				{% include card_video.html %}
			{% else %}
				{% include card_empty.html %}
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}