---
layout: default
---

{% assign cards       = site.static_files | where: 'is_card', true | reverse %}
{% assign cards_count = cards | size %}
{% assign card_by_row = 3 %}
{% assign rows        = cards_count | divided_by: card_by_row | floor %}

{% for y in (0 .. rows) %}
	<div class="row hcenter">
		{% for x in (1 .. card_by_row) %}
			{% assign key = y | times: card_by_row | plus: x | minus: 1 %}
			{% assign ext = cards[key].extname %}
			
			{% if ext == ".png" or ext == ".jpg" %}
				{% capture card_img_src  %} {{ cards[key].path | prepend: site.baseurl }} {% endcapture %}
				{% capture card_img_name %} {{ cards[key].basename                     }} {% endcapture %}
				{% include card_image.html %}

			{% elsif ext == ".mp4" %}
				{% capture card_vid_src  %} {{ cards[key].path | prepend: site.baseurl }} {% endcapture %}
				{% capture card_vid_name %} {{ cards[key].basename                     }} {% endcapture %}
				{% include card_video.html %}

			{% else %}
				{% include card_empty.html %}

			{% endif %}

		{% endfor %}
	</div>
{% endfor %}
