<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
		<div class="row ">
			<div class="col-3"></div>
			<div class="col-6">
				<h2 class="hcenter">4v0v's website</h2> 
				<h5 class="hcenter">
					<a style="color: inherit; text-decoration: inherit;" href="/index">games</a> | 
					<a style="color: inherit; text-decoration: inherit;" href="/drawings">drawings</a> |
					<a style="color: inherit; text-decoration: inherit;" href="/contact">contact</a>
				</h5>
				<hr/>
				{{ content }}
				{% include footer.html %}
			</div>
			<div class="col-3"></div>
		</div>
	</body>
</html>
