<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
		<div class="row mvs">
			<div class="col-3"></div>
			<div class="col-6">
				<h2 class="hcenter">4v0v's website</h2>
				<div class="hcenter">
					<h6>
						<a class="nav_links" href="/index">index</a> | 
						<a class="nav_links" href="/drawings">drawings</a> |
						<a class="nav_links" href="/contact">contact</a>
					</h6>
				</div>
				<hr/>
				{{ content }}
				{% include footer.html %}
			</div>
			<div class="col-3"></div>
		</div>
	</body>
</html>
