<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
		<div class="row mvs">
			<div class="col-3"></div>
			<div class="col-6">
				<h2 class="hcenter">4v0v's website</h2>
				<div class="hcenter">
					<h6>
						<a class="nav_links {% if page.url == '/' %} selected {% endif %}" 
						href="/index">&nbsp;index&nbsp;</a>|<a
						class="nav_links {% if page.url == '/drawings.html' %} selected {% endif %}" 
						href="/drawings">&nbsp;drawings&nbsp;</a>|<a
						class="nav_links {% if page.url == '/dev.html' %} selected {% endif %}" 
						href="/dev">&nbsp;dev&nbsp;</a>|<a
						class="nav_links {% if page.url == '/contact.html' %} selected {% endif %}" 
						href="/contact">&nbsp;contact&nbsp;</a>
					</h6>
				</div>
				<hr/>
				{{ content }}
				{% include footer.html %}
			</div>
			<div class="col-3"></div>
		</div>
	</body>
</html>
